"""
################################################################################
MercuPy Wrap
Jorge Zuluaga (C) 2011
################################################################################
CONFIGURATION FILE FOR CHANGE OF REFERENCE FRAME 
"""
from mercupy import *

#TRANSFORM BODIES TO ANOTHER REFERENCE FRAME
TRANSFORM=False

#BODIES TO TRANSFORM
BODIES=['BODY2','BODY3']

#VALID BODIES: CODES AS DESCRIBED IN SYSTEM.CONFIG
REFERENCE_BODY="BODY2"

#[ORIGIN,POINT TO]. AXIS EXTREMES COULD BE: BODIES OR INERTIAL
REFERENCE_AXIS=["BODY2","INERTIAL"]

#VALID TYPES:Rotating,Pulsating
REFERENCE_TYPE="Rotating"
